@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: #4652ac;
    height: 100vh;
    font-family: "Roboto", serif;
}

.center-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.titulo {
    color: white;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 999;
        height: 2px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        background-position: 0% 0%;
        background: linear-gradient(to right, #f8c71b, #D4AB17, #f8c71b, #D4AB17, #f8c71b, #f5f5f5);
        animation: gradient 3s linear infinite;
      }
}

label {
    color: white;
    font-size: 16px;
    line-height: 2em;
}

.container-input {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.2rem 1.7rem 1.3rem;
  background: whitesmoke;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #5968D9, #374187, #161A36, #374187, #161A36, #374187);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}

.input-prompt {
    flex-grow: 1;
    font-size: 1.2rem;
    line-height: 2rem;
    vertical-align: middle;
    &::-webkit-input-placeholder {
      color: #7881A1;
    }
}

.layout-wrapper {
  width: 964px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-chat-container {
  width: 100%;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.chat-bubble {
  background-color: #5968D9;
  color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  max-width: 400px;
  align-self: flex-start;
  position: relative;
}

.chat-bubble strong {
  font-weight: bolder;
}

.chat-bubble ul {
  margin-left: 1.5rem;
  list-style: circle;
}


.chat-bubble::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 20px;
  border-width: 10px 10px 0 0;
  border-style: solid;
  border-color: #5968D9 transparent transparent transparent;
}

.chat-bubble-user {
  background-color: #3A438C;
  color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  max-width: 400px;
  align-self: flex-end;
  position: relative;
}

.chat-bubble-user::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-width: 10px 0px 0 10px;
  border-style: solid;
  border-color: #3A438C transparent transparent transparent;
}

